*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 16px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(180deg, #0B1020, #111827);
    color: #f3f4f6;
    padding: 2rem;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "head head head"
        "side content content"
        "foot foot foot";
    grid-template-columns: 1fr 2fr 2fr;
}

header, aside, article, footer{
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 0.5rem 1.5rem rgb(0, 0, 0, 35%);
}


header{
    grid-area: head;
    background: linear-gradient(90deg, #2563EB, #7C3AED);
    border: 1px solid rgb(255, 255, 255, 8%);
}

header h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

header p{
    color: #DBEAFE; 
}