*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body {
    min-height: 100vh;
    background: #000;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
}
.page{
    width: 360px;
    background: #111;
    padding: 16px 8px 40px;
}
.page-header{
    text-align: center;
    margin-bottom: 16px;
}

.page-header h1{
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.gallery {
    display: flex;
    grid-template-columns: 90px 1fr;
    gap: 8px;
    background: #181818;
    border-radius: 6px;
    padding: 6px;
    border: 1px solid #333;
}
.card-img-wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-name {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
}
.card-meta {
    font-size: 11px;
    color: #ccc;
    line-height: 1.3;
}
.card-meta span{
    display: block;
}
.card-bar{
    width: 40px;
    height: 3px;
    background: #e2b33f;
    margin-bottom: 4px;
}
